.customer {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: .1rem auto;
}

.customer>p {
    margin: .2rem;
    white-space: nowrap;
    font-weight: 400;
    font-size: 15px;
}

a.customer{
  cursor: pointer;
  color:var(--item-color);
  text-decoration: none;

  &:hover{
      opacity: .8;
  }
}