:root {
  --title-color: blueviolet;
  --link-color: #ffffff;
  --item-color: rgb(107, 107, 107);
  --main-bkg-color: rgb(48, 48, 48);
  --header-bkg-color: rgb(40, 40, 40);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(40, 46, 48);
}

h1{
  color: var(--title-color);
}

/* Custom scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2d2d2d; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
   border-radius:5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}